{{ form_start(form, {attr: {class:'filter'}}) }}
<div class="row">
	<div class="col-12 col-lg-4">{{ form_row(form.search) }}</div>
	<div class="col-12 col-lg-4">{{ form_row(form.roles) }}</div>
	<div class="col-12 col-lg-4"><button type="submit" class="button button-light">Valider</button>
	</div>
</div>
{{ form_end(form) }}
