<h1>Bonjour,</h1>

<p>
	Un compte administrateur vous a été créé pour votre structure.<br>
    Vous pouvez vous connecter au Juriste Moderne, avec les identifiants suivants:<br>
    Email : {{ emailuser }}<br>
    Mot de passe (temporaire) : "password"<br>
    en cliquant sur le lien suivant :
	<a href="{{ path('app_login') }}">Le Juriste Moderne</a>
	Nous vous conseillons de personnaliser votre mot de passe dans l'onglet "Mon compte".
</p>

<p>
	Merci
</p>
