{% extends 'base.html.twig' %}

{% block title %}- Confidentialité
{% endblock %}

{% block navbar %}
	{% include 'home/_navbar.html.twig' %}
{% endblock %}

{% block body %}
	<div class="main_content pt-2">

		<h1>Politique de confidentialité (Work In Progress)</h1>
	</div>
{% endblock %}

{% block footer %}{% include 'home/_footer.html.twig' %}{% endblock %}