{% extends 'base.html.twig' %}

{% block title %}-
	{{app.user.structure.name}}
{% endblock %}

{% block navbar %}
	{% include 'admin/_navbarAdmin.html.twig' %}
{% endblock %}

{% block body %}
<div class="main_content pt-2">
    <h1 class="h1structure text-left mt-3">{{app.user.structure.name}}</h1>
	<h1>Adresses</h1>
	<div class="d-flex justify-content-start my-4">
		<a class="button button-light my-3" href="{{ path('address_index', {'id': app.user.structure.id}) }}">Retour</a>
	</div>
	<div class="container mt-5 border border-secondary col-11 position-relative">
		<h5 class="position-absolute top-0 start-0 text-left s-card-title rounded p-2 ms-2 structure_card">Adresse</h5>
		<div class="container p-3 mt-3 col-11">
            {{ include('address/_form.html.twig') }}
        </div>
	</div>
</div>

{% endblock %}